:root {
    --black: rgb(0, 0, 0);
    --yellow: rgb(251, 248, 204);
    --champagnePink: #fde4cf;
    --teaRose: #ffcfd2;
    --pinkLavender: #f1c0e8;
    --mauve: #cfbaf0;
    --jordyBlue: #a3c4f3;
    --nonPhotoBlue: #90dbf4;
    --electricBlue: rgb(142, 236, 245);
    --aquamarine: #98f5e1;
    --celadon: #b9fbc0;
}

@font-face {
    font-family: Lemonmilk;  
    src: url(./assets/fonts/LEMONMILK.otf);
}

@font-face {
    font-family: Notesby;  
    src: url(./assets/fonts/Notesby.ttf);
}

@font-face {
    font-family: Rockabilly;  
    src: url(./assets/fonts/Rockabilly.ttf);
}


body{
    background-image: url("./assets/images/starsBlack.jpg");
    text-align: center;
}

main{
    width: 80%;
    margin: auto;
    background-color: rgba(251, 248, 204, 0.893);
    border-radius: 30px;
    margin-top: 10px;
    padding: 20px;
}

label{
    font-family: Notesby;
    font-size: 2.2em;
    margin-bottom: 10px;
}

p{
    font-family: Notesby;
    font-size: 2.5em;
    margin: auto;
}

.boton{
    background-color: var(--nonPhotoBlue);
    font-family: Lemonmilk;
    font-size: 1.3em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.boton:hover{
    background-color: var(--celadon)
}

#userGame{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    background-color: #ffcfd2;
    width: 75%;
    margin: auto;
    padding: 5px;
}

#star{
    width:40%;

}

#headerIndex{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(142, 236, 245, 0.842);
    border-radius: 50px;

}

#imgHeader{
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;;
}