:root {
    --black: rgb(0, 0, 0);
    --yellow: rgb(251, 248, 204);
    --champagnePink: #fde4cf;
    --teaRose: #ffcfd2;
    --pinkLavender: #f1c0e8;
    --mauve: #cfbaf0;
    --jordyBlue: #a3c4f3;
    --nonPhotoBlue: #90dbf4;
    --electricBlue: rgb(142, 236, 245);
    --aquamarine: #98f5e1;
    --celadon: #b9fbc0;
}

@font-face {
    font-family: Lemonmilk;  
    src: url(./assets/fonts/LEMONMILK.otf);
}

@font-face {
    font-family: Notesby;  
    src: url(./assets/fonts/Notesby.ttf);
}

@font-face {
    font-family: Rockabilly;  
    src: url(./assets/fonts/Rockabilly.ttf);
}


body{
    background-image: url("./assets/images/starsBlack.jpg");
    text-align: center;
}

main{
    width: 80%;
    margin: auto;
    background-color: rgba(251, 248, 204, 0.893);
    border-radius: 30px;
    margin-top: 10px;
    padding: 20px;
}

label{
    font-family: Notesby;
    font-size: 2em;
    margin-bottom: 10px;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
}

label {
    animation-duration: 1s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

p{
    font-family: Notesby;
    font-size: 2em;
    margin: auto;
}

h1{
    font-family: Notesby;
    font-size: 2.4em;
    text-align: left;
    margin: auto;
    width: 90%;
}

.quizbutton{
    background-color: var(--nonPhotoBlue);
    font-family: Lemonmilk;
    font-size: 1.3em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.quizbutton:hover{
    background-color: var(--celadon)
}

/* INDEX.HTML*/

#userGame{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    background-color: #ffcfd2;
    width: 75%;
    margin: auto;
    padding: 5px;
}

#star{
    width:40%;

}

#headerIndex{
    width: 95%;
    max-height: 120px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(142, 236, 245, 0.842);
    border-radius: 50px;

}

#imgHeader{
    
    max-height: 80px;
    margin-top: 30px;
    margin-bottom: 30px;

}

#scoresBox{
    display:none;
}

/* QUESTION.HTML*/

nav{
    display: flex;
    background-color:  rgba(207, 186, 240, .8);
    width: 90%;
    margin: auto;
    border-radius: 30px;
    justify-content: space-between;
    align-items: center;   
    padding-left: 25px;
    padding-right: 25px;

}

#formulario{
    height: 70vh;
}

#container{
    display: flex;
    flex-direction: column;
}

#mute{
    display:flex;
    align-items: center;
}

.iconLabel{
    width: 60px;
}

#iconHome{
    width: 100px;
}

#opt1{
    background-color: var(--pinkLavender);
}

#opt2{
    background-color: var(--mauve);
}
#opt3{
    background-color: var(--jordyBlue);
}

#opt4{
    background-color: var(--electricBlue); 
}

audio{
    display: none;
}